.btn:hover{
  color: $light;
}
.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active{
  border: 0;
  box-shadow: none;
}

.btn-shadow{
  box-shadow: 5px 5px 0px $dark;
}
.link-dark-h{
  color: $dark;
  text-decoration: none;
  &:hover,&:focus,&:active,&.active-c{
    color: $primary;
  }
}